.App {
<<<<<<< HEAD
  text-align: left;
=======
<<<<<<< HEAD
  text-align: center;
=======
  text-align: left;
>>>>>>> f46cfdca6e1a0000d21f91f51778076e7661d2b6
>>>>>>> tests2
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
<<<<<<< HEAD
  color: rgb(150, 82, 82);
=======
<<<<<<< HEAD
  color: white;
=======
  color: rgb(150, 82, 82);
>>>>>>> f46cfdca6e1a0000d21f91f51778076e7661d2b6
>>>>>>> tests2
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
<<<<<<< HEAD
=======
<<<<<<< HEAD
=======
>>>>>>> tests2

body {
  background-size: cover;
  background-attachment: fixed;
}

#actionform {
  background-color: lightgray;
  margin-top: 100px;
  width: 35%;
}

footer {
  margin-top: 50px;
  background-color: rgb(189, 183, 183);
  padding-bottom: 1px;
}

#logged {
  margin-top: 22px;
}
<<<<<<< HEAD
=======
>>>>>>> f46cfdca6e1a0000d21f91f51778076e7661d2b6
>>>>>>> tests2
